<div class="body" id="footer">
    <div class="left">
        <div class="logo">
            <img src="../../assets/img/logo10.png" alt="Logo">
        </div>
        <div class="work">
            <h3>Work with us</h3>
            <a href="mailto:teta@niquitta.dk?subject=Applying for cleaning position">
                <button class="button">Apply Now</button>
            </a>
        </div>
    </div>
    <div class="right">
        <h3>Contact us!</h3>
        <div class="info">
            <div class="item">
                <div class="bt_wrap">
                    <a href="mailto:teta@niquitta.dk?subject=Info about cleaning" class="box">
                        <i class="icon3d fa fa-envelope"></i>
                        <i class="icon2 fa fa-envelope"></i>
                    </a>
                </div>
                <div class="text">
                    <p>teta@niquitta.dk</p>
                </div>
            </div>
            <div class="item">
                <div class="bt_wrap">
                    <a href="tel:+4542211357" class="box">
                        <i class="icon3d fa fa-phone"></i>
                        <i class="icon2 fa fa-phone"></i>
                    </a>
                </div>
                <div class="text">
                    <a href="tel:+4542211357">
                        <p>+4542211357</p>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="bt_wrap">
                    <a href="https://www.google.com/maps/search/?api=1&query=Hindegade+6,+1303+Copenhagen+K,+Denmark"
                        class="box">
                        <i class="icon3d fa fa-map-marker-alt"></i>
                        <i class="icon2 fa fa-map-marker-alt"></i>
                    </a>
                </div>
                <div class="text">
                    <a href="https://www.google.com/maps/search/?api=1&query=Hindegade+6,+1303+Copenhagen+K,+Denmark">
                        <p>Hindegade 6, <br>1303 Copenhagen K <br>Denmark</p>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="bt_wrap">
                    <a href="https://www.facebook.com/profile.php?id=100032837507615" target="_blank" class="box">
                        <i class="icon3d fa-brands fa-facebook"></i>
                        <i class="icon2 fa-brands fa-facebook"></i>
                    </a>
                </div>
                <div class="text">
                    <a href="https://www.facebook.com/profile.php?id=100032837507615">
                        <p>facebook</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>