<div class="main">
    <div class="header" id="home">
        <div class="header-wrap">
            <div class="logo">
                <img src="../../assets/img/logo8.png" alt="logo">
            </div>
            <div class="header-info">
                <div class="contact">
                    <div class="phone">
                        <p>Telefon:</p>
                        <p><a href="tel:+4542211357">+4542211357</a></p>
                    </div>
                    <div class="email">
                        <p>email:</p>
                        <p><a href="mailto:teta@niquittta.dk">teta@niquittta.dk</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="title">
            <!-- <h2>We'll Make Your Business or Home Sparkle Like Never Before!</h2> -->
            <h2>Vi vil få din virksomhed eller dit hjem til at skinne som aldrig før!</h2>
        </div>
        <div class="header-images">
            <img src="../../assets/img/1.png" alt="">
            <img src="../../assets/img/niquitta5.png" alt="">
            <img src="../../assets/img/116156559_285399415897973_7337244653328627980_n.jpg" alt="">
            <img src="../../assets/img/127635351_370304624074118_6529300635844208004_n.jpg" alt="">
        </div>
    </div>
    <div class="welcome">
        <div class="text">
            <h2>VELKOMMEN TIL NIQUITTA RENGØRING</h2>
            <!-- <p>Choose Niquitta Cleaning, led by Teta Smith-Ydesen, for a commitment to excellence in making your
                apartment, house,
                or business immaculately clean and orderly. Our team boasts extensive experience in a diverse range of
                cleaning
                services, including regular weekly maintenance, thorough deep cleaning, specialized canteen cleaning,
                and meticulous
                post-renovation clean-ups. We pride ourselves on delivering outstanding results and relish the joy our
                work brings
                to you. Our approach combines in-depth cleaning techniques with carefully selected products, ensuring a
                gentle yet
                effective treatment for your floors, carpets, and furniture. Offering affordable rates and efficient
                service, we
                work within the agreed timeframe, striving to exceed your expectations every time.</p> -->
            <p>Når du tilkalder Niquitta Rengøring, som ejes af Teta Smith-Ydesen, så gør vi vores allerbedste for at
                opfylde dine høje
                forventninger om en super ren og pæn lejlighed, hus eller virksomhed. Vi har mange års erfaring med alle
                typer af
                rengøring, herunder ugentlig rengøring, hovedrengøring, kantinerengøring og rengøring efter
                istandsættelse, renovering
                m.fl. Vi sætter en ære i at gøre det godt, og vi elsker, når du bliver glad for vores indsats. Vi går i
                dybden og vi er
                meget beviste om at bruge de rigtige produkter. På den måde kan vi være nærsomme med dine gulve, tæpper
                og møbler. Vi er
                ikke dyre og vi arbejder effektivt indenfor den tidsramme, vi aftaler med dig.
            </p>
        </div>
        <div class="img">
            <img src="../../assets/img/434074536_1066756314428942_5272386139746949908_n.jpg" alt="">
        </div>
    </div>
    <div class="calculator">
        <app-price-selection></app-price-selection>
    </div>
    <div class="our-services" id="services">
        <!-- <h2>Our Services</h2> -->
        <h2>Hvad vi tilbyder</h2>
        <div class="services-grid">
            <div class="service-item">
                <div class="icon">
                    <img src="../../assets/svg/cleaning-sign-caution-warning-wet-floor-svgrepo-com.svg" alt="">
                </div>
                <div class="text">
                    <!-- <h4>Inmediate Response cleaning</h4> -->
                    <h4>Instant Reaktion Rengøring</h4>
                    <!-- <p>In the face of unexpected events requiring prompt attention, our Immediate Response Cleaning
                        service
                        stands ready. We
                        understand that some situations cannot wait, which is why we offer an expedited cleaning
                        service
                        available within 24
                        hours of your initial call. Whether it's a spill, an accident, or any urgent cleaning need,
                        our team
                        is prepared to
                        swiftly restore order and cleanliness with efficiency and care.</p> -->
                    <p>Over for uventede begivenheder, der kræver øjeblikkelig opmærksomhed, står vores Immediate
                        Response Cleaning service
                        klar. Vi forstår, at nogle situationer ikke kan vente, hvilket er grunden til, at vi tilbyder en
                        hurtig
                        rengøringsservice, tilgængelig inden for 24 timer efter dit første opkald. Uanset om det drejer
                        sig om et spild, en
                        ulykke eller ethvert akut rengøringsbehov, er vores team klar til hurtigt at genoprette orden og
                        renlighed med
                        effektivitet og omhu.
                    </p>
                </div>
            </div>
            <div class="service-item">
                <div class="icon"></div>
                <div class="text">
                    <!-- <h4>Premier Deep cleaning</h4> -->
                    <h4>Professionel rengøring</h4>
                    <!-- <p>Our Premier Deep Cleaning service is designed to set the highest standard of cleanliness from
                        the
                        very first visit.
                        Recognizing that initial cleanings often require extra attention to detail, this
                        comprehensive
                        service ensures every
                        corner, surface, and space is meticulously addressed. This foundational cleaning not only
                        elevates
                        the environment but
                        also paves the way for effective maintenance through our ongoing services.</p> -->
                    <p>
                        Vores grundige rengøring er skræddersyet til at sætte den højeste standard for renlighed helt
                        fra det første besøg.

                        Da vi ved, at den indledende rengøring ofte kræver ekstra opmærksomhed på detaljer, sikrer denne
                        omfattende service, at
                        hvert hjørne, overflade og rum bliver minutiøst rengjort. Denne grundlæggende rengøring
                        forbedrer ikke kun miljøet, men
                        baner også vejen for effektiv vedligeholdelse gennem vores løbende serviceydelser.
                    </p>
                </div>
            </div>
            <div class="service-item">
                <div class="icon"></div>
                <div class="text">
                    <!-- <h4>Corporate Cleaning Solutions</h4> -->
                    <h4>Erhvervsrengøring</h4>
                    <!-- <p>Our Corporate Cleaning Solutions are specially designed to meet the unique needs of business
                        environments. From offices
                        to canteens, corridors, and restrooms, our team ensures every area of your workplace is
                        professionally cleaned,
                        promoting a productive and hygienic workspace for your employees and visitors alike.</p> -->
                    <p>Vores rengøringsløsninger til erhverv er skræddersyede til at opfylde de unikke behov i
                        erhvervsomgivelser. Lige fra
                        kontorer til kantiner, gange og toiletter sikrer vores team, at alle områder på din arbejdsplads
                        bliver professionelt
                        rengjort, hvilket fremmer et produktivt og hygiejnisk arbejdsmiljø for både dine medarbejdere og
                        besøgende.
                    </p>
                </div>
            </div>
            <div class="service-item">
                <div class="icon"></div>
                <div class="text">
                    <!-- <h4>Standard Maintenance Cleaning</h4> -->
                    <h4>Standardrengøring</h4>
                    <!-- <p>For routine upkeep, our Standard Maintenance Cleaning offers a reliable solution to keep your
                        spaces
                        pristine. This
                        service covers all the essentials, including vacuuming, floor washing, dusting, and more,
                        ensuring a
                        consistently clean
                        and welcoming environment for everyone.</p> -->
                    <p>Til den daglige vedligeholdelse tilbyder vores standardrengøring en pålidelig løsning til at
                        holde dine lokaler pletfri.
                        Denne service dækker alle de væsentlige elementer, herunder støvsugning, gulvvask, aftørring og
                        mere, hvilket sikrer et
                        konstant rent og indbydende miljø for alle.
                    </p>
                </div>
            </div>
            <div class="service-item">
                <div class="icon">
                    <img src="../../assets/svg/cleaning-svgrepo-com.svg" alt="">
                </div>
                <div class="text">
                    <!-- <h4>Canteen and Cafeteria Care</h4> -->
                    <h4>Kantinerengøring</h4>
                    <!-- <p>Our Corporate Cleaning Solutions are specially designed to meet the unique needs of business
                        environments. From offices
                        to canteens, corridors, and restrooms, our team ensures every area of your workplace is
                        professionally cleaned,
                        promoting a productive and hygienic workspace for your employees and visitors alike.</p> -->
                    <p>Vores rengøringsløsninger til virksomheder er specielt designet til at opfylde de unikke behov i
                        erhvervslivet.
                        miljøer. Fra kontorer
                        til kantiner, korridorer og toiletter sikrer vores team, at alle områder på din arbejdsplads er
                        professionelt rengjort,
                        og fremmer et produktivt og hygiejnisk arbejdsområde for både medarbejdere og besøgende.
                    </p>
                </div>
            </div>
            <div class="service-item">
                <div class="icon">
                    <img src="../../assets/svg/cleaning-spray-svgrepo-com.svg" alt="">
                </div>
                <div class="text">
                    <!-- <h4>Stairwell and Entryway Maintenance</h4> -->
                    <h4>Opgangen & Entreen Rengøring</h4>
                    <p>Hold dine opgange og entreer indbydende!
                        Vi tilbyder professionel vedligeholdelse af trappeopgange og entreområder, så de forbliver rene
                        og præsentable.
                        Giv et godt førstehåndsindtryk med rene og velholdte opgange og entreer!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="stats">
        <app-statitstics></app-statitstics>

    </div>
    <div class="professional-cleaning" id="professional">
        <!-- <h2>Professional Cleaning</h2> -->
        <h2>Professionel rengøring</h2>
        <div class="professional">
            <h4>Commitment to Excellence with Approved Cleaning Agents and Protection</h4>
            <h4></h4>
            <p>In our pursuit of delivering unparalleled cleaning services, we place a significant emphasis on the
                health and safety of
                your environments. Our ethos is grounded in the meticulous selection and application of approved
                cleaning agents,
                coupled with stringent protective measures. This dual commitment ensures that every cleaning task we
                undertake not only
                achieves the highest standards of cleanliness but also upholds the well-being of your space and its
                occupants.</p>
        </div>
        <div class="professional">
            <h4>Rigorous Standards for Safety and Efficacy</h4>
            <p>Our dedication to excellence is underpinned by our unwavering adherence to industry-approved cleaning
                agents. These
                substances are carefully selected for their proven effectiveness and compatibility with a wide range of
                surfaces and
                environments. By insisting on approved agents, we guarantee a cleaning solution that is both potent
                against dirt and
                gentle on your environment.</p>
        </div>
        <div class="professional">
            <h4>Rigorous Standards for Safety and Efficacy</h4>
            <p>Protection is at the heart of our cleaning philosophy. Beyond the visual appeal of a well-maintained
                space, we
                prioritize the structural integrity and longevity of your environment. Our protective measures are
                designed to safeguard
                surfaces during the cleaning process, ensuring that our services contribute to the preservation and
                enhancement of your
                space.</p>
        </div>

    </div>
    <div class="commitment">
        <h2>Commintment to Excellence</h2>
        <div class="content-commintment">
            <img src="../../assets/img/116156559_285399415897973_7337244653328627980_n.jpg" alt="">
            <div class="text-wrap">
                <p>Our commitment to excellence is evident in every task we undertake. Let us handle the cleaning, so
                    you
                    can
                    focus on
                    what matters most in your business or daily life.
                    Contact us to discover how our tailored cleaning solutions can benefit you.</p>

                <p>Elevate the standard of your environment with our premium cleaning services, where excellence meets
                    meticulous care. Our
                    commitment extends beyond mere cleaning to encompass the use of approved cleaning agents and
                    protection
                    measures,
                    ensuring not only a pristine environment but also one that upholds the highest standards of safety
                    and
                    quality.</p>
            </div>
        </div>

    </div>
    <div class="packages-wrapper" id="packages">
        <div class="package-title">
            <h2>Our Packages</h2>
        </div>
        <div class="packages">
            <div class="package">
                <h4>GENERAL CLEANING PACKAGE</h4>
                <ul>
                    <li>Cleaning of rooms</li>
                    <li>Vacuuming</li>
                    <li>Cleaning of bathroom</li>
                    <li>Dusting</li>
                    <li>Floor washing</li>
                    <li>Cleaning the kitchen</li>
                </ul>
                <h4>300 DKK timer</h4>
            </div>
            <div class="package">
                <h4>DEEP CLEANING PACKAGE</h4>
                <ul>
                    <li>Cleaning of rooms</li>
                    <li>Vacuuming</li>
                    <li>Cleaning of bathroom</li>
                    <li>Cleaning of bathroom</li>
                    <li>Dusting</li>
                    <li>Floor washing</li>
                    <li>Rusting</li>
                </ul>
                <h4>400 DKK timer</h4>
            </div>
            <div class="package">
                <h4>RESTCUE PACKAGE</h4>
                <ul>
                    <li>Cleaning of rooms</li>
                    <li>Vacuuming</li>
                    <li>Cleaning of bathroom</li>
                    <li>Cleaning of bathroom</li>
                    <li>Dusting</li>
                    <li>Floor washing</li>
                    <li>Cleaning the kitchen</li>
                </ul>
                <h4>550 DKK timer</h4>
            </div>
            <div class="package">
                <h4>COORPORATE PACKAGE</h4>
                <ul>
                    <li>Cleaning of rooms</li>
                    <li>Vacuuming</li>
                    <li>Cleaning of bathroom</li>
                    <li>Cleaning of bathroom</li>
                    <li>Dusting</li>
                    <li>Floor washing</li>
                    <li>Cleaning the kitchen</li>
                </ul>
                <h4>450 DKK timer</h4>
            </div>
        </div>

    </div>
</div>