.main {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    img {
      width: 500px; /* Adjust logo size */
      height: auto;
    }
  }

  .header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .contact {
      display: flex;
      flex-direction: column;
      gap: 0.5rem; /* Reduced gap */
      height: auto;
      margin-top: 1rem;
    }

    .phone,
    .email {
      display: flex;
      align-items: center;
      padding: 0.25rem 0.5rem; /* Reduced padding */
      border: 1px solid #ccc;
      border-radius: 0.625rem; /* Reduced border-radius */
      transition: background-color 0.3s ease;

      a {
        margin-left: 0.25rem;
      }
    }

    .phone:hover,
    .email:hover {
      background-image: linear-gradient(to right, #ff7e5f, #feb47b);
    }

    .phone:active,
    .email:active {
      transform: translateY(3px);
    }

    .phone a,
    .email a {
      margin-left: 0.25rem;
    }
  }

  .title {
    text-align: left;
    width: 100%;
    margin-bottom: 2rem;
  }

  .header-images {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    overflow-x: auto;

    img {
      max-width: 100px;
      height: auto;
      border-radius: 1.125rem;
    }
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .header-wrap {
    flex-direction: column;
    align-items: center;

    .logo {
      img {
        width: 341px; /* Adjust logo size for smaller screens */
      }
    }
  }

  .header-info {
    align-items: center;

    .contact {
      align-items: center;
    }

    .phone,
    .email {
      padding: 0.25rem 0.5rem;
    }
  }

  .header-images {
    img {
      max-width: 80px; /* Adjust image size for smaller screens */
    }
  }
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background-color: black;
  color: white;
  height: auto;
  width: 100%;
  padding: 1rem;
  flex-wrap: nowrap;

  .text {
    width: 40%;
    min-width: 300px; /* Ensures text doesn't shrink too much */
    box-sizing: border-box;

    h2 {
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  .img {
    width: 80%; /* Set width for image container */
    max-width: 100%; /* Ensure image container doesn't exceed its parent */
    margin-top: 2rem; /* Adds some space between text and image */
    overflow: hidden; /* Hide any overflow */
    position: relative;

    img {
      width: 100%; /* Ensures the image fills its container */
      height: auto; /* Maintains aspect ratio */
      display: block;
    }
  }
}

.calculator {
  background-color: #6dacf5;
  margin: 0;
  padding: 2rem;
}

.our-services {
  width: 100%;
  padding: 2rem 1rem;
  box-sizing: border-box;

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;

    .service-item {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      background-color: #f8f9fa; /* Light gray background */
      border: 1px solid #ced4da; /* Gray border */
      border-radius: 8px;
      transition: box-shadow 0.3s ease;

      .icon {
        width: 50px; /* Adjust icon width */
        height: 50px; /* Adjust icon height */
        border-radius: 50%; /* Rounded shape */
        margin-bottom: 1rem;

        img {
          width: 50px;
          height: 50px;
        }
      }

      .text {
        flex: 1;

        h4 {
          font-size: 1.25rem;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 1rem;
          color: #6c757d; /* Gray text color */
        }
      }
    }

    .service-item:hover {
      transform: translateY(-10px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
  }
}

.stats {
  height: auto;
  padding: 4rem 2rem 4rem 2rem;
  background-color: black;
  color: #ffffff;
}

.professional-cleaning {
  width: 100%;
  padding: 2rem 1rem;
  box-sizing: border-box;

  h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333; /* Dark text color */
  }

  .professional {
    background-color: #fff; /* White background */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 2rem;
    margin-bottom: 2rem;
    transition: transform 0.3s ease; /* Smooth transition */

    h4 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
      color: #007bff; /* Blue text color */
    }

    p {
      font-size: 1.1rem;
      color: #555; /* Dark gray text color */
      line-height: 1.5;
    }
  }

  .professional:hover {
    transform: translateY(-10px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); /* Move up on hover */
  }

  .professional:nth-child(even) {
    background-color: #f8f9fa; /* Light gray background */
  }
}

/* Different background color for alternate sections */

.commitment {
  background-color: black;
  color: #ffffff;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 8px;
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .content-commintment {
    display: flex;
    gap: 1.5rem;
    text-align: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 30rem;
      height: auto;
      border-radius: 8px;
      margin: 1rem 0;
    }

    .text-wrap {
      justify-content: center;
      align-items: center;
      justify-items: center;

      p {
        font-size: 1rem;
        line-height: 1.6;
      }
    }
  }
}

.packages-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #f9f9f9;
}

.package-title h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.packages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.package {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15rem;
  padding: 1rem;
  border-radius: 1.125rem;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.package h4 {
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.package ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.package li {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.package:hover {
  transform: translateY(-10px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.package h4:last-of-type {
  font-size: 1rem;
  color: #007bff;
  margin-top: 1rem;
  text-align: center;
}

@media (max-width: 866px) {
  .content-commintment {
    img {
      width: 22rem;
      max-height: 25rem;
    }
    p {
      font-size: 1.125rem;
    }
  }
}

@media (max-width: 740px) {
  .welcome {
    flex-wrap: wrap; /* Allow items to wrap below 700px */
  }

  .welcome .text,
  .welcome .img {
    width: calc(100% - 4rem); /* Set width for full width on small screens */
    margin-top: 1rem; /* Adjusts margin for smaller screens */
  }

  .commitment {
    .content-commintment {
      flex-wrap: wrap;
      img {
        width: 18rem;
        max-height: 18rem;
      }
    }
  }
}

@media (max-width: 690px) {
}
